*.d

# object
*.o
*.ko
*.obj
*.elf
*.map

# lib
*.lib
*.la
*.lo
*.so
*.so.*
*.a

# package
*.deb

# editor
*.swp

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# exe
mx-timed

# test
*.gcov
*.gcda
*.gcno

# folders
build/
docs/doxygen/
